<div class="card card-block">
    <h4 class="card-title">Create Joke</h4>
    <div class="form-group">
      <input type="text"
             class="form-control"
             placeholder="Enter the setup" [(ngModel)] = "joke.setup">
    </div>
    <div class="form-group">
      <input type="text"
             class="form-control"
             placeholder="Enter the punchline"  [(ngModel)] = "joke.punchline">
    </div>
    <button type="button" (click) = "SubmitJoke()"
            class="btn btn-primary" >Create
    </button>
  </div>